{{#leftNav}}
<ul>
	<li class="leftNavGroup">
		<a href="{{signInlink}}" class="menuLabel menuTrigger opened">{{heading}} </a>
			<ul class="accordion" style="display: block;">
				<li class="signin">
					<a href="{{signInlink}}">{{signIn}}</a> 
				</li>
				<li class="dashboard">
					<a href="{{dashboardLink}}">{{dashboard}}</a>
				</li>
				<li class="information">
					<a href="{{myProfileLink}}">{{myProfile}}</a> 
				</li>
				<li class="products">
					<a href="{{myProductsLink}}">{{myProducts}}</a> 
				</li>
				<li id="myWishlist" class="wishlist">
					<a href="{{wishlistLink}}">{{wishlist}}</a>
				</li>
				<li class="addressBook">					
					<a href="{{addressBookLink}}">{{addressBook}}</a> 
				</li>			
				<li class="orderTrack">
					<a href="{{orderHistoryLink}}">{{orderHistory}}</a> 
				</li>			
				<li class="savedCards">
					<a href="{{savedCardsLink}}">{{savedCards}}</a>
				</li>	
			</ul>
	</li>
</ul>
{{/leftNav}}