<div class="accountCcInfo">
<p>		
	<h2>Questions?</h2>
	We are here to help.
	<br /><br />
	1-800-449-3056
	<br />
	Mon. to Fri. - 7am to 9pm CDT<br/>
	Sat. - 9:30am to 6pm CDT<br/>
	<h4>Holiday Hours 11/23/12-12/29/12:</h4>
		7am&ndash;10pm CST, Mon&ndash;Sat<br />
		10:30am&ndash;7pm CST, Sun<br />
		We will be open Christmas Eve 12/24/12<br/>
		7am&ndash;6pm CST<br/>		
	<br />
	<a href="mailto:fossil@fossil.com">fossil@fossil.com</a>
	<br /><br />
	<a href="/en_US/shop/customer_care/contactus/fossil-contactus.html?page=customerCare_contactUs&catalogId=25005&langId=-1">Contact Form</a>
	<br /><br />
	<a rel="external" target="_blank" href="http://www.facebook.com/fossil">http://www.facebook.com/fossil</a>
	<br /><br />
	<a rel="external" target="_blank" href="http://www.twitter.com/Fossil">@Fossil on Twitter</a>
	<br /><br />
	<a href="/webapp/wcs/stores/servlet/ContentView?storeId=12052&amp;page=customerCare_securityPrivacy&amp;catalogId=25005&amp;langId=-1">Our privacy and security policy &gt;</a>
</p>
</div>