<h4 id="benefitsTitle" style="width:100%;">Registered Customer Benefits</h4>
<p>
	<br />
	Order History: View your past orders, and check pending order status.
	<br /><br />
	Personal Wish List: Keep track of your favorite products, and share your list with family and friends.
	<br /><br />
	My Products: Find information about the products you’ve purchased online.
	<br /><br />
	Address Book: Keep track of frequently used billing and shipping addresses.
	<br /><br />
	Preferences: Manage your newsletter preferences, and more!
</p>