<div class="pdpControls">
  <div class="pdpdBack"><a href="">&lt; BACK TO RESULTS</a></div>
  <div class="pdpPager">
    <div class="pdpItemCount">Item {{pagination.index}}/{{pagination.total}}</div>
    <div class="pdpPagerButtons">
      <a href="#" class="pdpPrev disabled"></a>
      <a href="#" class="pdpNext"></a>
    </div>
    <div class"pdpCustCare">{{{labels.custCare}}}</div>
  </div>
</div>

<div class="pdpWrapper">
	<div class="prodInfo"></div>  	
	<div class="clear"></div>
</div>
<div id="productShare" class="share clearfix">
  <div id="shareList">
  </div>
</div>