<div id="homeContentWrapper">

<!--[if IE]>
<style type="text/css">
	#rightArrow{
		right: -35px;
	}
	#leftArrow{
		left: -35px;
	}
</style>
<![endif]-->
<div class="home_container US box" style="position:absolute; left:-3000px">
    <img class="spacer" src="/wcsstore/CommonFossil/images/common/home/5x3_spacer.gif">
    <div id="rightArea" data-slide="next" style="display: block;">
        <img src="/wcsstore/CommonFossil/images/common/home/arrows_right.png" class="arrow_off">
        <img src="/wcsstore/CommonFossil/images/common/home/arrows_right_on.png" class="arrow_on">
    </div>
    <div id="leftArea" data-slide="prev" style="display: block;">
        <img src="/wcsstore/CommonFossil/images/common/home/arrows_left.png" class="arrow_off">
        <img src="/wcsstore/CommonFossil/images/common/home/arrows_left_on.png" class="arrow_on">
    </div>

    <div id="slide_controls">
            <div class="clicker click_0" data-slide="0"><span class="number">01</span> SALE<span class="bar"></span></div>
            <div class="clicker click_1 active" data-slide="1"><span class="number">02</span> ARM CANDY<span class="bar"></span></div>
            <div class="clicker click_2" data-slide="2"><span class="number">03</span> GRANT COLLECTION<span class="bar"></span></div>
    </div>
        
        <div class="slide93" id="home_0" style="opacity: 0; z-index: 2; display: block;">
            <div class="slideRelWrap">
                <a data-tag="false" href="/webapp/wcs/stores/servlet/CategoryView?catalogId=25005&amp;storeId=12052&amp;langId=-1&amp;categoryId=331181">
                    <img id="box" src="/wcsstore/CommonFossil/images/common/home/large/sale.png" data-original="/wcsstore/CommonFossil/images/common/home/sale.png" usemap="#saleMap">
                </a>
                <div class="textBlock sale">
                    <a href="/webapp/wcs/stores/servlet/CategoryView?catalogId=25005&amp;storeId=12052&amp;langId=-1&amp;categoryId=331181" data-tag="false"><h1 class="fit" min="16px" style="font-size: 37.75px;"><span>shop our</span> WINTER SALE</h1></a>
                    <p class="fit" min="10px" style="font-size: 20.133333333333333px;">It’s time to treat yourself.</p>
                    <p class="fit" min="9px" style="font-size: 13.482142857142858px;">Find your favorite styles at lovely lower prices.</p>
                    <a id="women_winter_sale" class="slide_cta fit" href="/webapp/wcs/stores/servlet/CategoryView?catalogId=25005&amp;storeId=12052&amp;langId=-1&amp;categoryId=331181" min="8px" data-tag="12.26HP_SaleShopWomen_Wsale" style="font-size: 19.358974358974358px;">SHOP WOMEN’S SALE</a>
                    <a id="men_winter_sale" class="slide_cta fit" href="/webapp/wcs/stores/servlet/CategoryView?catalogId=25005&amp;storeId=12052&amp;langId=-1&amp;categoryId=331278" min="8px" data-tag="12.26HP_SaleShopMen_Msale" style="font-size: 19.358974358974358px;">SHOP MEN’S SALE</a>
                    <span class="divider"></span>
                </div>
            </div>
        </div>
        <div class="slide93" id="home_1" style="display: block; opacity: 1; z-index: 3;">
            <div class="slideRelWrap">
                <a data-tag="331152" href="/webapp/wcs/stores/servlet/CategoryView?catalogId=25005&amp;storeId=12052&amp;langId=-1&amp;categoryId=334084">
                    <img id="box" src="/wcsstore/CommonFossil/images/common/home/large/candy.jpg" data-original="/wcsstore/CommonFossil/images/common/home/candy.jpg" usemap="#candyMap">
                </a>
                <div class="textBlock candy">
                    <a href="/webapp/wcs/stores/servlet/CategoryView?catalogId=25005&amp;storeId=12052&amp;langId=-1&amp;categoryId=334084" data-tag="false"><h1 class="fit" min="16px" style="font-size: 37.75px;"><span>arm</span> CANDY</h1></a>
                    <p class="fit" min="10px" style="font-size: 13.482142857142858px;">In citrus, coral and turquoise, our Georgia watches and leather <br>wraps are bursting with color. One is never enough—mix your <br>hues and stack them high for an even sweeter look. </p>
                    
                    <a id="" class="slide_cta fit" href="/webapp/wcs/stores/servlet/CategoryView?catalogId=25005&amp;storeId=12052&amp;langId=-1&amp;categoryId=334084" min="8px" data-tag="12.26HP_GeorgiaShopGeorgia_GeorgiaCOL" style="font-size: 19.358974358974358px;">SHOP GEORGIA COLLECTION</a>
                    <a id="" class="slide_cta fit" href="/webapp/wcs/stores/servlet/CategoryView?catalogId=25005&amp;storeId=12052&amp;langId=-1&amp;categoryId=331152" min="8px" data-tag="12.26HP_GeorgiaShopJewelry_Jewelry" style="font-size: 19.358974358974358px;">SHOP JEWELRY</a>
                </div>
            </div>
        </div>
        <div class="slide93" id="home_2" style="display: block; opacity: 0; z-index: 2;">
            <div class="slideRelWrap">
                <a data-tag="12.26HP_GrantBackground_GrantCOL" href="/webapp/wcs/stores/servlet/CategoryView?catalogId=25005&amp;storeId=12052&amp;langId=-1&amp;categoryId=334090">
                    <img id="box" src="/wcsstore/CommonFossil/images/common/home/large/grant.jpg" data-original="/wcsstore/CommonFossil/images/common/home/grant.jpg" usemap="#grantMap">
                </a>
                <div class="textBlock grant">
                    <a href="/webapp/wcs/stores/servlet/CategoryView?catalogId=25005&amp;storeId=12052&amp;langId=-1&amp;categoryId=334090" data-tag="false"><h1 class="fit" min="16px" style="font-size: 37.75px;">GRANT <span>collection</span></h1></a>
                    <p class="fit" min="10px" style="font-size: 13.482142857142858px;">Roman numerals, leather straps, and stainless steel <br>make Grant the ultimate must-have watch.</p>
                    
                    <a id="" class="slide_cta fit" href="/webapp/wcs/stores/servlet/CategoryView?catalogId=25005&amp;storeId=12052&amp;langId=-1&amp;categoryId=334090" min="8px" data-tag="12.3HP_GrantSlideShopGrant_GrantCOL" style="font-size: 19.358974358974358px;">SHOP GRANT COLLECTION</a>
                    <a id="" class="slide_cta fit" href="/webapp/wcs/stores/servlet/CategoryView?catalogId=25005&amp;storeId=12052&amp;langId=-1&amp;categoryId=357584" min="8px" data-tag="12.3HP_GrantSlideShopWatches_MWatchStyles" style="font-size: 19.358974358974358px;">SHOP MEN’S WATCHES</a>
                </div>
            </div>
        </div>
    <div id="hp_loader" style="position: absolute; z-index: 10; left: 50%; top: 50%; display: none;">
        <img src="/wcsstore/CommonFossil/images/shell/quicklook/loading.gif">
    </div>
</div>

<!--CM Tagging is now handled in slide-shuffler.js
<script>
require(['FSwrapper', 'plugins/jquery.tagIt'], function (FSwrapper) {
	FSwrapper.execute(function(){
		$(document).ready(function(){
			var taggingOptions = {
				elementCategory: 'Homepage'
			};
			$content = $('div.home_container');
			$content.tagIt(taggingOptions);
		});
  });
});
</script>-->
</div>