			<div class="accountSection clearfix">
								<div id="banner">
									<h2>My Products</h2>
								</div>
																
								<div class="accountContents">
									<div class="accountHeader clearfix">
										<div class="accountHeaderInner">
										<!-- Begin item Header -->
											<div class="itemOptions">
												<strong class="itemTitle">
												<!--  userItemsBean 1-->1 Products in your account.
												</strong>
											</div>
											<!-- Begin Add Products -->
												<div class="addProduct">
													<p>Own a Fossil product not listed here? You can add it!</p>
														
													<a class="addForm" href="http://www.fossil.com/webapp/wcs/stores/servlet/MyProductsAddView?langId=-1&storeId=12052&catalogId=25005&categoryId=">
														<div class="buttons clearfix">
															<button type="submit"  class="primary"  id="addProductButton"  name="addProductButton">
															<span class="buttonLeft">
																<span class="buttonRight">
																	<span class="buttonContent">
																		Add a Product
																	</span>
																</span>
															</span>
															</button>						
														</div>
													</a>
								
								
										</div>
										<!-- End Add Products -->
							
										</div>
									</div>
									<!-- End Item Header -->
									
							
									<div class="accountItems clearfix">
									
									<!-- Begin Item Loop -->
									<div class="accountItem">
									<div class="itemControls">
									<!-- edit only for manually added products -->
										<a href="http://www.fossil.com/webapp/wcs/stores/servlet/MyProductsRemove?langId=-1&storeId=12052&catalogId=25005&categoryId=&fsUserItemsId=160236">Remove</a>
									</div>									
																		
									
											
											<div class="itemThumb">												
												
													<img alt="Grant Leather Watch - Brown" src="https://a248.e.akamai.net/f/248/9086/1.ccd/s7diod-isorigin.scene7.com/is/image/FossilPartners/FS4735_main?$fossilResponsive_thumb$" width="192" height="192"/>
												
											</div>
												<div class="itemInfo">
													
													
													<h4 class="itemTitle">Grant Leather Watch - Brown</h4>	
																									
													<p class="itemPrice"><span class="dollar"></span>$105.00</p>
													
													<p class="purchaseDate"><span>Purchased:</span> 10/04/2012
													<br/>
													<span class="label">Purchase Location:</span> Online 
													</p>
													
													<p class="itemSpecs">
														<span class="label">Style:</span> FS4735<br />
											
													</p>
													
																										
															<p class="itemMoreInfo">
																<!-- if applicable include size guide -->
																<a class="fitGuide" href="/wcsstore/Fossil/html/en_US/sizeguide/watches.html">Size Guide</a>
																<!-- end if -->
															</p>
														
																									
														<div class="returnsButton">
															<form action="ReturnsView">
																<!-- Include all applicable hidden inputs to submit this product -->
																	<input type="hidden" name="langId" value="-1" />
													                <input type="hidden" name="storeId" value="12052" />
													                <input type="hidden" name="catalogId" value="25005" />			                 
													                <input type="hidden" name="fsUserItemsId" value="160236" />
																	<button type="submit"  class="primary"  id="printReturns"  name="printReturns">
																	<span class="buttonLeft">
	<span class="buttonRight">
		<span class="buttonContent">
			Return
		</span>
	</span>
</span>
																	</button>				
															</form>
														</div>
																	
														<div class="warrantyButton">
															<form action="FSGenerateWarranty">
																 <input type="hidden" name="langId" value="-1" />
												                 <input type="hidden" name="storeId" value="12052" />
												                 <input type="hidden" name="catalogId" value="25005" />						                 
												                 <input type="hidden" name="fsUserItemsId" value="160236" />
																<!-- Include all applicable hidden inputs to submit this product -->
																<button  type="submit" name= "warrantyButton" id="warrantyButton" class="primary">
																<span class="buttonLeft">
	<span class="buttonRight">
		<span class="buttonContent">
			Warranty
		</span>
	</span>
</span>
													        </button>				
															</form>
														</div>
														
														<div class="repairsButton">
															<form action="WatchRepairView">
																 <input type="hidden" name="langId" value="-1" />
												                 <input type="hidden" name="storeId" value="12052" />
												                 <input type="hidden" name="catalogId" value="25005" />						                 
												                 <input type="hidden" name="fsUserItemsId" value="160236" />
																<!-- Include all applicable hidden inputs to submit this product -->
																	<button type="submit"  class="primary"  id="printRepairs"  name="printRepairs">
																	<span class="buttonLeft">
	<span class="buttonRight">
		<span class="buttonContent">
			Repairs
		</span>
	</span>
</span>
																	</button>				
															</form>
														</div>
														<!-- 
															<div class="singleItemShare">
																<a class="fbShare" href="#"></a>
																<a class="twitShare" href="https://twitter.com/intent/tweet?text=LINKTOPRODUCT"></a>
																<a class="pinIt" href="http://pinterest.com/pin/create/button/?url=LINKTOPRODUCT&media=LINKTOPRODUCTIMAGE"></a>
																<a class="emailToFriend" href="#"></a>
															</div>
															-->
														
													</div>
												
										</div>	
										<!-- End extra items for the loop -->
							
									</div>
								</div>

							</div>
