<div id="banner">
								<p>Order History</p>
                        	</div>
                        	<div id="eSpot1">
                        		<div id="eSpot1Padd">
									<!-- Start - JSP File Name: eMarketingSpotDisplay.jsp --><!--
	<table>
	<tr><td>MarketingSpotIdentifier UniqueID:</td> <td> 12022 </td></tr>
	<tr><td>MarketingSpotIdentifier Name:</td> <td> GLOBAL_ESPOT_1 </td></tr>
	<tr><td>MarketingSpotIdentifier categoryIdentifier:</td> <td>  </td></tr>	
	<tr><td>MarketingSpotIdentifier parentCategoryIdentifier:</td> <td>  </td></tr>	
	</table>			
-->

<!-- <h4>Categories</h4> -->
  <!-- <h4>Catalog Entries</h4> -->
  <!-- <h4>Content</h4> -->
	<!-- End - JSP File Name: eMarketingSpotDisplay.jsp -->
                   				</div>
                   			</div>
                   			<div id="contentPadding">
                        		<h1 class="formTitle">
                        			Order History
                        		</h1>
            					<table class="productTable centered">
                            		<tr class="headerRow">
										<th>Order Number</th>
					                	<th>Order Date</th>
					                	<th>Total Amount</th>
					                	<th>Amount Saved</th>
					                	<th>Status</th>
					                	<th>Tracking Number</th>
                                    	<th>&nbsp;</th>
                                    	<th>&nbsp;</th>
                                	</tr>
									
										<tr>
											<td>305113455</td>
											<td>October 4, 2012</td>
											<td>
												$66.04			
											</td>
											<td class="saved">
												0.00
											</td>
											<td>
												Shipped
											</td>
											<td>
												1Z5A455E0370343754
											</td>
											<td>
												<form method="post" id="orderDetail" action="/webapp/wcs/stores/servlet/OrderDetail" >
													 <input type="hidden" name="orderId" value="305113455">
									                 <input type="hidden" name="orderStatusCode" value="S">
									                 <input type="hidden" name="storeId" value="12052">						                 
									                 <input type="hidden" name="catalogId" value="25005">
									                 <input type="hidden" name="langId" value="-1">
									                 									                																						
														<a href="javascript:{}" onclick="document.getElementById('orderDetail').submit(); return false;">
															View Details
														</a>
																
												</form>
												
											</td>
											<td>
												
														<a href="http://wwwapps.ups.com/etracking/tracking.cgi?submit=Track&InquiryNumber1=1Z5A455E0370343754&TypeOfInquiryNumber=T" target="_blank">
															<button type="button" value="track">
																<span class="buttonLeft">
	<span class="buttonRight">
		<span class="buttonContent">
			track
		</span>
	</span>
</span>
															</button>
														</a>
													
											</td>
										</tr>
										
										<tr>
											<td>304538930</td>
											<td>December 16, 2010</td>
											<td>
												$163.98			
											</td>
											<td class="saved">
												$74.03
											</td>
											<td>
												Shipped
											</td>
											<td>
												1Z5A455E0239204198
											</td>
											<td>
												<form method="post" id="orderDetail" action="/webapp/wcs/stores/servlet/OrderDetail" >
													 <input type="hidden" name="orderId" value="304538930">
									                 <input type="hidden" name="orderStatusCode" value="S">
									                 <input type="hidden" name="storeId" value="12052">						                 
									                 <input type="hidden" name="catalogId" value="25005">
									                 <input type="hidden" name="langId" value="-1">
									                 									                																						
														<a href="javascript:{}" onclick="document.getElementById('orderDetail').submit(); return false;">
															View Details
														</a>
																
												</form>
												
											</td>
											<td>
												
														<a href="http://wwwapps.ups.com/etracking/tracking.cgi?submit=Track&InquiryNumber1=1Z5A455E0239204198&TypeOfInquiryNumber=T" target="_blank">
															<button type="button" value="track">
																<span class="buttonLeft">
	<span class="buttonRight">
		<span class="buttonContent">
			track
		</span>
	</span>
</span>
															</button>
														</a>
													
											</td>
										</tr>
										
                            	</table>
                        	</div>
                        	<div class="breaker"></div>
