
						<div id="contentPadding">
								
									<h1>My Profile</h1>
									<div class="floatContainer" id="messaging">
									<p>
										Manage your personal information, personal preferences, as well as email and catalog subscriptions.
									</p>
									<h2>Welcome to Fossil.com!</h2>
<br/>
<p>Here it's easy to check your order status, manage your account information, return items, subscribe to promotional emails and more.</p>
<br/>
<a href="/" id="goShopping">
<span class="buttonLeft">
<span class="buttonRight">
<span class="buttonContent">
Go Shopping
</span>
</span>
</span>
</a><a href="/webapp/wcs/stores/servlet/OrderCalculate?updatePrices=1&amp;calculationUsageId=-1&amp;calculationUsageId=-2&amp;calculationUsageId=-3&amp;calculationUsageId=-4&amp;calculationUsageId=-7&amp;langId=-1&amp;storeId=12052&amp;catalogId=25005&amp;orderId=.&amp;URL=OrderItemDisplay" id="goToCheckout">
<span class="buttonLeft">
<span class="buttonRight">
<span class="buttonContent">
Go To Checkout
</span>
</span>
</span>
</a>

									</div>
									
							<div class="dashboard floatContainer">
								<div class="column1">
									<div class="wrapper">
										
<div class='dashboard-group'>
	<div class="header">
		<h2>
			My Information
		</h2>
		<a href="https://www.fossil.com/en_US/shop/account/my_information.html">
			Update
		</a>
		<div class="breaker"></div>
	</div>
	<div id="myInfo" class="dashboard-content floatContainer">
		<div class="content-inner clearfix">
			<div class="column1">
				<div class="wrapper">
					<h4>Personal Information</h4>
					<div class="infoContainer top">
						<div class="infoRow">
							<div class="label">Name:</div>
							<div class="info">
								James&nbsp;
											Hatfield
							</div>
						</div>
						<div class="infoRow">
							<div class="label">
							Email:
							</div>
							<div class="info">email@address.com</div>
						</div>
						<div class="infoRow">
							<div class="label">
							Gender:
							</div>
							<div class="info">
							
								<a href="https://www.fossil.com/en_US/shop/account/my_information.html">
								add your gender	
								</a>
								
							</div>
						</div>
						<div class="infoRow">
							<div class="label">
							Birthday:
							</div>
							<div class="info"> 
							
								<a href="https://www.fossil.com/en_US/shop/account/my_information.html">
								add your birthday
								</a>
								
							</div>
						</div>
					</div>
					
					<h4>Subscription Preferences</h4>
					<div class="infoContainer">
						
							<a href="https://www.fossil.com/en_US/shop/account/my_information.html">
							Email Newsletter
							</a>
							<br/>
							
							<a href="https://www.fossil.com/en_US/shop/account/my_information.html">
							Print Catalog
							</a>
							
					</div>
				</div>
			</div>

			<div class="column2">
				<div class="wrapper">
					<h4>Golden Questions</h4>
					<div class="infoContainer">
						
							<a href="https://www.fossil.com/en_US/shop/account/my_information.html" class="update">
								update your profile to help us make your Fossil experience better
							</a>
						
					</div>
					
					<h4>Shopping Preferences</h4>
					<div class="infoContainer">
						
							<a href="https://www.fossil.com/en_US/shop/account/my_information.html" class="update">
								let us know what products you are interested in
							</a>
						
					</div>
				</div>
			</div>
		</div>
	</div>
				
	<div class="footer">
		<div class="footerButton">
			<a href="https://www.fossil.com/en_US/shop/account/my_information.html"><span class="buttonLeft"><span class="buttonRight"><span class="buttonContent">
			Change Password</span></span></span>
			</a>
		</div>
	</div>
</div>

<div id="orderhistory" class='dashboard-group'>
<div class="header">
	<h2>Order History</h2>
	<a href="https://www.fossil.com/en_US/shop/account/track_Order_status.html">View All</a>
<div class="breaker"></div>
</div>
<div class="dashboard-content">

	<div class="content-inner clearfix">
	 	<p>
You have no recent orders. If you have orders, returns or exchanges older than 30 days, please click the "view all" link in the title bar to browse your full transaction history.
</p>
 
	</div>
	
</div>
</div>

<div id="addressbook" class='dashboard-group'>
	<div class="header">
		<h2>
			Address Book
		</h2>
		<a href="https://www.fossil.com/en_US/shop/account/address_book.html">Update/View All</a>
		<div class="breaker"></div>
	</div>
	<div class="dashboard-content">
		<div class="content-inner clearfix">
			<div class="floatContainer">
			
			<div class="addressBookInfoBox addressBookInfoBoxEmpty">
			 	<p>
Add or import addresses using the buttons below. These addresses can be used during checkout or for subscribing to our print catalog.
</p>
 
			</div>	
			

			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footerButton">
			<a href="https://www.fossil.com/webapp/wcs/stores/servlet/AddressForm?storeId=12052&amp;catalogId=25005&amp;langId=-1"><span class="buttonLeft"><span class="buttonRight"><span class="buttonContent">Add address</span></span></span></a>
		</div>
	</div>
</div> 

<div id="savedcc" class='dashboard-group'>
	<div class="header">
		<h2>Saved Credit Cards</h2>
		<a href="https://www.fossil.com/en_US/shop/account/wallet_edit.html">Update/View All</a>
		<div class="breaker"></div>
	</div>
	<div class="dashboard-content">
		<div class="content-inner clearfix">
			
				<div class="addressBookInfoBox addressBookInfoBoxEmpty">
				 	<p>
You have no saved credit cards. Use the button below to add to this list. These payment methods can be used during checkout and can be associated with a billing address in your address book.
</p>
 
				</div>
				<!--address end-->
		</div>
	</div>
	<div class="footer">
		<div class="footerButton">
			<a href="https://www.fossil.com/en_US/shop/account/wallet_edit.html"><span class="buttonLeft"><span class="buttonRight"><span class="buttonContent">Add Credit Card</span></span></span></a>
		</div>
	</div>
</div>
									</div>
								</div>
								<div class="column2">
									<div class="wrapper">
										
<div class='dashboard-group' id ="myproducts">
	<div class="header">
		<h2>My Products</h2>
		
	<a href="https://www.fossil.com/webapp/wcs/stores/servlet/MyProductsListView?langId=-1&amp;storeId=12052&amp;catalogId=25005">Update/View All</a>
	<div class="breaker"></div>
</div>
<div class="dashboard-content">
	<div class="content-inner clearfix">
		<div class="wrapper">
			<p>
Online orders through www.fossil.com will automatically appear here. you can also add Fossil products purchased at other authorized resellers using the "Register a Product" button below.
</p>
			
		</div>
	</div>
</div>	
	<div class="footer">
		<div class="footerButton">
			<a href="https://www.fossil.com/webapp/wcs/stores/servlet/MyProductsListView?langId=-1&amp;storeId=12052&amp;catalogId=25005"><span class="buttonLeft"><span class="buttonRight"><span class="buttonContent">Register a Product</span></span></span></a>
		</div>
	</div>
</div>
<script>
	var memberWishlists = {"state":null,"lastName":null,"lists":[],"memberId":323457502,"hasLists":false,"city":null,"firstName":null};
</script>


<div class='dashboard-group' id ="wishlist">
	<div class="header">
		<h2>
			Wish List
		</h2>
		<a href="https://www.fossil.com/en_US/shop/account/wishlist.html?listId=.">Update/View All</a>
		<div class="breaker"></div>
	</div>
	
	<div class="dashboard-content">
		<div class="content-inner clearfix">
			<div class="wrapper">
				
			</div>
		</div>
	</div>	
	
		<div class="footer">
			<div class="footerButton">
					<a href="https://www.fossil.com/en_US/shop/account/wishlist.html?listId=."><span class="buttonLeft"><span class="buttonRight"><span class="buttonContent">
					Add New</span></span></span></a>
					<a href="https://www.fossil.com/en_US/shop/account/wishlist.html?listId=."><span class="buttonLeft"><span class="buttonRight"><span class="buttonContent">
					Delete</span></span></span></a>
					<a href="https://www.fossil.com/en_US/shop/account/wishlist.html?listId=."><span class="buttonLeft"><span class="buttonRight"><span class="buttonContent">
					Share</span></span></span></a>
			</div>
		</div>
<!--end-->
</div>
								</div>
								<div class="breaker"></div>
							</div><!-- end dashboard -->
						</div>
						
						</div>
