<div id="banner">
                        	<p>Address Book</p>
                        </div>
                   		<div id="eSpot1">
                        	<div id="eSpot1Padd">
							<!-- Start - JSP File Name: eMarketingSpotDisplay.jsp --><!--
	<table>
	<tr><td>MarketingSpotIdentifier UniqueID:</td> <td> 12022 </td></tr>
	<tr><td>MarketingSpotIdentifier Name:</td> <td> GLOBAL_ESPOT_1 </td></tr>
	<tr><td>MarketingSpotIdentifier categoryIdentifier:</td> <td>  </td></tr>	
	<tr><td>MarketingSpotIdentifier parentCategoryIdentifier:</td> <td>  </td></tr>	
	</table>			
-->

<!-- <h4>Categories</h4> -->
  <!-- <h4>Catalog Entries</h4> -->
  <!-- <h4>Content</h4> -->
	<!-- End - JSP File Name: eMarketingSpotDisplay.jsp -->
                   			</div>
                   		</div>                   		
                   		<div id="contentPadding" class="contentBody">
                            <h1>
                                Address Book:
                                <span class="subHead">Address(es) on file</span>
                            </h1>

							
										<p class="addressTextDesc">
										The following address(es) have been used previously for shipping and/or billing. To add another address for future use,&nbsp;
										please select
												&quot;ADD A NEW ADDRESS.&quot;
												                        				
                        				</p>
                        				
			                            <a href="https://www.fossil.com/webapp/wcs/stores/servlet/AddressForm?storeId=12052&amp;catalogId=25005&amp;langId=-1" class="primary">
			                            	<span class="buttonLeft">
	<span class="buttonRight">
		<span class="buttonContent">
			Add A New Address
		</span>
	</span>
</span>
			                            </a>
			                            
                        				<div class="addressList floatContainer">
									

<div class="addressBookInfoBox">
  <div class="addressBlock">
 	<span class="firstName">James</span>
	<span class="lastName">Hatfield</span>
	<br />
	<span class="streetAddress1">1505 Porsche Ct.</span>
	<br />
	
	<span class="city">Plano</span>,&nbsp;<span class="state">TX</span>
	<span class="ZIP_POST">75023</span>
	<br/>
	<span class="phone1">949-690-1605</span>
	<br />
  </div>	
	
						
	<a href="https://www.fossil.com/webapp/wcs/stores/servlet/AddressForm?storeId=12052&amp;catalogId=25005&amp;addressId=16856074&amp;langId=-1" class="ltGrey">Edit</a>
	&nbsp;|&nbsp;
	<a href="https://www.fossil.com/webapp/wcs/stores/servlet/AddressUpdate?storeId=12052&amp;catalogId=25005&amp;addressId=16856074&amp;langId=-1&amp;publishPhone1=0&amp;URL=AddressBookForm" class="ltGrey">Remove</a>
</div>
								    <div class="clear"></div>
									</div>	
								
                        </div>
                        <div class="breaker"></div>