<div id="footLinks">
<ul>
<li><a href="/webapp/wcs/stores/servlet/ContentView?storeId=12052&page=customerCare_howtoOrder&langId=-1&catalogId=25005">Customer Care</a>
<li><a href="/webapp/wcs/stores/servlet/ContentView?storeId=12052&page=investorRelations_companyProfile&catalogId=25005&langId=-1">About Us</a>
<li><a href="/webapp/wcs/stores/servlet/ContentView?storeId=12052&page=customerCare_termsofuse&catalogId=25005&langId=-1">Terms of Use</a>
<li><a href="/webapp/wcs/stores/servlet/ContentView?storeId=12052&page=customerCare_securityPrivacy&catalogId=25005&langId=-1">Privacy &amp; Security Policy</a>
<li>&copy;2012 FOSSIL, INC.
</ul>
</div>