<div id="secondaryFooterEspot" class="scout" style="clear: left;">
  <a href="/webapp/wcs/stores/servlet/ContentView?storeId=12052&page=customerCare_shippingPolicy&catalogId=25005&langId=-1" class="noHover"><span class="freeShip">Free Shipping<br>On all orders</span><br />
  or free overnight<br>over $150</a>
  <div class="subMenu eSub">
  <div>
    <h4 class="paddingL10">Free Shipping Information</h4>
    <p class="marginL30">
      Free overnight shipping arrives in 1-2<br>
      business days. Standard shipping<br>
      arrives in 3-5 business days.<br>
      <a href="/webapp/wcs/stores/servlet/ContentView?storeId=12052&page=customerCare_shippingPolicy&catalogId=25005&langId=-1">Shipping Policy &gt;</a>
    </p>
    </div>
  </div>
</div>

<div id="socialLinks" class="clearfix">
  <div id="newEmailSignup" class="newEmailSignup clearfix scout">
    <form id="newEmailListSignupForm" class="handler_email" action="#">
      <input id="newSignupListEmail" class="required email validate scout" type="text" maxlength="255" name="signupEmail">
      <input id="newSignupSubmit" class="scout" type="submit" value="&gt;">
    </form>
    <div class="subMenu">
      <div class="hidden infoMessage">
        <h4>Email Newsletter Sign Up</h4>
        <p>
          Join our Fossil community to receive:
          <ul class="plusBullets">
            <li>Early Access to New Products</li>
            <li>Information on Our New Collections</li>
            <li>First Look at Our Favorite Gifts</li>
          </ul>
        </p>
      </div>

      <div class="hidden authorizeMessage">
        <p>Do you want to receive updates on our latest collections, newest catalogs, and inspiration straight to your inbox?</p>
        <div class="authButtons">
          <div class="greenButton stepTwoAuth calisto"><a href="#">Yes, sign me up!</a></div>
          <div class="stepTwoDecline"><a href="#">not right now</a></div>
        </div>
      </div>

      <div class="hidden errorMessage">
        <h4>Something went wrong</h4>
        <p>Please try our basic subscription form.</p>
        <div class="authButtons">
          <div class="greenButton calisto">
            <a href="/webapp/wcs/stores/servlet/EmailSignUp?storeId=12052&errorView=&page=customerCare_emailSignup&guestURL=EmailSignupView&regURL=MyInformationView&catalogId=25005&langId=-1">
              Email Signup
            </a>              
          </div>
        </div>
      </div>

      <div class="hidden successMessage">
        <h4>Thank You <span class="emailContainer"></span>!</h4>
        <p>Welcome to our Fossil family! We will be updating you on our latest collections, sharing new catalogs, and sending inspiration straight to your inbox.</p>
      </div>
    </div>
  </div>

  <ul class="clearfix">
    <li class="facebook"><a href="http://www.facebook.com/Fossil" rel="external"><img src="/wcsstore/CommonFossil/images/shell/icons/socialFooter.png" alt="Fossil on Facebook" /></a></li>
    <li class="twitter"><a href="http://twitter.com/#!/fossil" rel="external"><img src="/wcsstore/CommonFossil/images/shell/icons/socialFooter.png" alt="Twitter" /></a></li>
    <li class="youtube"><a href="http://www.youtube.com/FossilTV" rel="external"><img src="/wcsstore/CommonFossil/images/shell/icons/socialFooter.png" alt="Fossil on YouTube" /></a></li>
    <li class="blog"><a href="http://pinterest.com/fossil" rel="external"><img src="/wcsstore/CommonFossil/images/shell/icons/socialFooter.png" alt="Fossil on Pintrest" /></a></li>
    <li class="tumblr"><a href="http://fossil.tumblr.com" rel="external"><img src="/wcsstore/CommonFossil/images/shell/icons/socialFooter.png" alt="Fossil on Tumblr." /></a></li>

  </ul>
</div>