<div id="locale">
<a class="menuTrigger" href="javascript:void(0);">{{localeMenu.country}}</a>
<div id="localePicker" class="clearFix subMenu">
<div class="localeColumn localeBorderR">
<h4>{{localeMenu.americas}}</h4>
<ul>
<li id="en_US" class="currentLocale"><a href="{{en_USLink}}">{{localeMenu.en_US}}</a></li>
</ul>
</div>
<div class="localeColumn localeBorderR">
<h4>{{localeMenu.eu}}</h4>
<ul>
<li id="de_AT"><a href="{{localeMenu.de_ATLink}}">{{localeMenu.de_AT}}</a></li>
<li id="fr_FR"><a href="{{localeMenu.fr_FRLink}}">{{localeMenu.fr_FR}}</a></li>
<li id="de_DE"><a href="{{localeMenu.de_DELink}}">{{localeMenu.de_DE}}</a></li>
<li id="it_IT"><a href="{{localeMenu.it_ITLink}}">{{localeMenu.it_IT}}</a></li>
<li id="en_GB"><a href="{{localeMenu.en_GBLink}}">{{localeMenu.en_GB}}</a></li>
</ul>
</div>
<div class="localeColumn localeBorderR">
<h4>{{localeMenu.af}}</h4>
<ul>
<li id="en_ZA"><a href="{{localeMenu.en_ZALink}}">{{localeMenu.en_ZA}}</a></li>
</ul>
</div>
<div class="localeColumn">
<h4>{{localeMenu.ap}}</h4>
<ul>
<li id="en_AU"><a href="{{localeMenu.en_AULink}}">{{localeMenu.en_AU}}</a></li>
<li id="zh_CN"><a href="{{localeMenu.zh_CNLink}}">{{localeMenu.zh_CN}}</a></li>
<li id="ja_JP"><a href="{{localeMenu.ja_JPLink}}">{{localeMenu.ja_JP}}</a></li>
<li id="ko_KR"><a href="{{localeMenu.ko_KRLink}}">{{localeMenu.ko_KR}}</a></li>
</ul>
</div>
</div>
</div>