{{#categories}}
<div class="category">
<div class="categoryLabel">
<h3><a href="{{uniqueID}}">{{label}}</a></h3>
</div>
{{#products}}
<div class="product gridObject {{categories.FSCC}}" id="{{partNumber}}" >
	<div class="productImage">
		<a href="{{productURI}}">	
			<img class="thumbnail" src="{{imageURI}}" border="0" alt="{{name}}" title="{{name}} - {{partNumber}}" height="{{imageSize}}" width="{{imageSize}}" data-src="{{imageURI}}">
		</a>
	</div>
	 <div class="prodInfo">
	 	<a href="{{productURI}}">
		 	<div class="prodName">
				{{#new}}
				<span class="newProductLabel">{{store.newLabel}}<span>-</span></span>
				{{/new}}	
				<span class="newProductText">{{name}}</span>
			</div>
			<img class="bg" src="http://www.fossil.com/wcsstore/Fossil/images/en_US/category/thumb_rollover.png">
		</a>
		<div class="priceSwatchWrap"> 
			<div class="priceRow">
				<a href="{{productURI}}">
					<div class="price"><sup class="dollar">$</sup>{{xcatentry_Offerprice}}</div>
				</a>
			</div>
			<div class="swatches" data-swatches="{{swatchList}}"></div>
		</div>  	
	</div>
</div>
{{/products}}
</div>
{{/categories}}